# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [1]:
# Your code goes here
import pandas as pd

url1= "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv"
url2= "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv"
url2= "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv"

df1=pd.read_csv(url1)
df2=pd.read_csv(url2)
df3=pd.read_csv(url2)

df1.columns=df1.columns.str.lower().str.replace(' ','_')
df1=df1.rename(columns={'st':'state'})
df2.columns=df2.columns.str.lower().str.replace(' ','_')
df3.columns=df3.columns.str.lower().str.replace(' ','_')

order_columns = df1.columns
# Reorder columns in df2 and df3 to match df1
df2 = df2[order_columns]
df3 = df3[order_columns]
df1.head(1)

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934

In [2]:
df2.head(1)

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,SA25987,Washington,M,High School or Below,3479.137523,0,104,0,Personal Auto,Two-Door Car,499.2

In [3]:
df3.head(1)

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,SA25987,Washington,M,High School or Below,3479.137523,0,104,0,Personal Auto,Two-Door Car,499.2

In [4]:
#df1['gender'].unique()
df1['gender']=df1['gender'].replace({'Femal':'F', 'Male':'M','female':'F'})
df1['gender'].unique()
#df2['gender'].unique()
#df3['gender'].unique()

array([nan, 'F', 'M'], dtype=object)

In [5]:
#df1['state'].unique()
df1['state']=df1['state'].replace({'Cali':'California', 'AZ':'Arizona','WA':'Washington'})
df1['state'].unique()
#df2['state'].unique()
#df3['state'].unique()

array(['Washington', 'Arizona', 'Nevada', 'California', 'Oregon', nan],
      dtype=object)

In [6]:
#df1['education'].unique()
df1['education']=df1['education'].replace({'Bachelors':'Bachelor'})
df1['education'].unique()
#df2['education'].unique()
#df3['education'].unique()

array(['Master', 'Bachelor', 'High School or Below', 'College', 'Doctor',
       nan], dtype=object)

In [7]:
#Customer lifetime value
df1['customer_lifetime_value'] = df1['customer_lifetime_value'].str.rstrip('%').astype(float)

df1.dtypes

customer                      object
state                         object
gender                        object
education                     object
customer_lifetime_value      float64
income                       float64
monthly_premium_auto         float64
number_of_open_complaints     object
policy_type                   object
vehicle_class                 object
total_claim_amount           float64
dtype: object

In [8]:
df2.dtypes

customer                      object
state                         object
gender                        object
education                     object
customer_lifetime_value      float64
income                         int64
monthly_premium_auto           int64
number_of_open_complaints      int64
policy_type                   object
vehicle_class                 object
total_claim_amount           float64
dtype: object

In [9]:
df3.dtypes

customer                      object
state                         object
gender                        object
education                     object
customer_lifetime_value      float64
income                         int64
monthly_premium_auto           int64
number_of_open_complaints      int64
policy_type                   object
vehicle_class                 object
total_claim_amount           float64
dtype: object

In [10]:
df1['vehicle_class']=df1['vehicle_class'].replace({'Sports Car':'Luxury Car'})
df2['vehicle_class']=df2['vehicle_class'].replace({'Sports Car':'Luxury Car'})
df3['vehicle_class']=df3['vehicle_class'].replace({'Sports Car':'Luxury Car'})
#df1['vehicle_class'].unique()
#df2['vehicle_class'].unique()
df3['vehicle_class'].unique()

array(['Two-Door Car', 'Four-Door Car', 'SUV', 'Luxury Car', 'Luxury SUV'],
      dtype=object)

In [11]:

middle = lambda x: str(x).split('/')[1] if pd.notna(x) else x
df1["number_of_open_complaints"] = df1["number_of_open_complaints"].apply(middle)
df1['number_of_open_complaints'].unique()

array(['0', '2', '1', '3', '5', '4', nan], dtype=object)

In [12]:
df1["number_of_open_complaints"]=df1["number_of_open_complaints"].astype(float)
df2["number_of_open_complaints"]=df2["number_of_open_complaints"].astype(float)
df3["number_of_open_complaints"]=df3["number_of_open_complaints"].astype(float)

#df1.dtypes
#df2.dtypes
df3.dtypes

customer                      object
state                         object
gender                        object
education                     object
customer_lifetime_value      float64
income                         int64
monthly_premium_auto           int64
number_of_open_complaints    float64
policy_type                   object
vehicle_class                 object
total_claim_amount           float64
dtype: object

In [13]:
df1.isnull().sum()

customer                     2937
state                        2937
gender                       3054
education                    2937
customer_lifetime_value      2940
income                       2937
monthly_premium_auto         2937
number_of_open_complaints    2937
policy_type                  2937
vehicle_class                2937
total_claim_amount           2937
dtype: int64

In [14]:
df2.isnull().sum()

customer                     0
state                        0
gender                       0
education                    0
customer_lifetime_value      0
income                       0
monthly_premium_auto         0
number_of_open_complaints    0
policy_type                  0
vehicle_class                0
total_claim_amount           0
dtype: int64

In [15]:
df3.isnull().sum()

customer                     0
state                        0
gender                       0
education                    0
customer_lifetime_value      0
income                       0
monthly_premium_auto         0
number_of_open_complaints    0
policy_type                  0
vehicle_class                0
total_claim_amount           0
dtype: int64

In [16]:
#Filling the categorical columns with the mode
categorical_cols= ['state', 'gender', 'education', 'policy_type', 'vehicle_class']
for col in categorical_cols:
    mode_value = df1[col].mode()[0]  # Find the most frequent value (mode)
    df1[col] = df1[col].fillna(mode_value)

df1['customer'] = df1['customer'].fillna('Unknown')

# Filling numerical columns with the median
numerical_cols = ['customer_lifetime_value', 'income', 'monthly_premium_auto', 'total_claim_amount']
for col in numerical_cols:
    
    median_value = df1[col].median()  
    df1[col] = df1[col].fillna(median_value)

# For the 'number_of_open_complaints' column, fill with the mode 
df1['number_of_open_complaints'] = df1['number_of_open_complaints'].fillna(df1['number_of_open_complaints'].mode()[0])

print("Missing values after filling:")
print(df1.isnull().sum())

df1[numerical_cols] = df1[numerical_cols].astype(int)

Missing values after filling:
customer                     0
state                        0
gender                       0
education                    0
customer_lifetime_value      0
income                       0
monthly_premium_auto         0
number_of_open_complaints    0
policy_type                  0
vehicle_class                0
total_claim_amount           0
dtype: int64

In [17]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4008 entries, 0 to 4007
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customer                   4008 non-null   object
 1   state                      4008 non-null   object
 2   gender                     4008 non-null   object
 3   education                  4008 non-null   object
 4   customer_lifetime_value    4008 non-null   int32
 5   income                     4008 non-null   int32
 6   monthly_premium_auto       4008 non-null   int32
 7   number_of_open_complaints  4008 non-null   float64
 8   policy_type                4008 non-null   object
 9   vehicle_class              4008 non-null   object
 10  total_claim_amount         4008 non-null   int32
dtypes: float64(1), int32(4), object(6)
memory usage: 281.9+ KB

In [18]:
duplicates1=df1.duplicated()
duplicates2=df2.duplicated()
duplicates3=df3.duplicated()
print(f"\nNumber of duplicate rows of df1 : {duplicates1.sum()}")
print(f"\nNumber of duplicate rows of df2: {duplicates2.sum()}")
print(f"\nNumber of duplicate rows of df3: {duplicates3.sum()}")

Number of duplicate rows of df1 : 2936

Number of duplicate rows of df2: 0

Number of duplicate rows of df3: 0

In [19]:
df1_cleaned = df1.drop_duplicates(keep='first')
df1_cleaned.reset_index(drop=True, inplace=True)
print(f"Number of duplicate rows after cleaning df1: {df1_cleaned.duplicated().sum()}")

Number of duplicate rows after cleaning df1: 0

In [20]:
#Combining the three datasets
df_combined=pd.concat([df1, df2, df3], axis=0, ignore_index=True)
df_combined

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,F,Master,5.881740e+05,0,1000,0.0,Personal Auto,Four-Door Car,2.000000
1,QZ44356,Arizona,F,Bachelor,6.979530e+05,0,94,0.0,Personal Auto,Four-Door Car,1131.000000
2,AI49188,Nevada,F,Bachelor,1.288743e+06,48767,108,0.0,Personal Auto,Two-Door Car,566.000000
3,WW63253,California,M,Bachelor,7.645860e+05,0,106,0.0,Corporate Auto,SUV,529.000000
4,GA49547,Washington,M,High School or Below,5.363070e+05,36357,68,0.0,Personal Auto,Four-Door Car,17.000000
...,...,...,...,...,...,...,...,...,...,...,...
18143,LA72316,California,M,Bachelor,2.340599e+04,71941,73,0.0,Personal Auto,Four-Door Car,198.234764
18144,PK87824,California,F,College,3.096511e+03,21604,79,0.0,Corporate Auto,Four-Door Car,379.200000
18145,TD14365,California,M,Bachelor,8.163890e+03,0,85,3.0,Corporate Auto,Four-Door Car,790.784983
18146,UP19263,California,M,College,7.524442e+03,21941,96,0.0,Personal Auto,Four-Door Car,691.200000
18147,Y167826,California,M,College,2.611837e+03,0,77,0.0,Corporate Auto,Two-Door Car,369.600000

In [21]:

df_combined.shape

(18148, 11)

In [22]:
df_combined.to_csv('cleaned_insurance_data.csv', index=False)

print("The cleaned dataset has been saved successfully!")

The cleaned dataset has been saved successfully!

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [23]:
# Your code goes here
url='https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv'

df=pd.read_csv(url)
df.head()

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,month
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,...,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,A,2
1,1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,...,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,A,1
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,...,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,2
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,...,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,1
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,...,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,A,1

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10910 entries, 0 to 10909
Data columns (total 27 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   unnamed:_0                     10910 non-null  int64
 1   customer                       10910 non-null  object
 2   state                          10910 non-null  object
 3   customer_lifetime_value        10910 non-null  float64
 4   response                       10910 non-null  object
 5   coverage                       10910 non-null  object
 6   education                      10910 non-null  object
 7   effective_to_date              10910 non-null  object
 8   employmentstatus               10910 non-null  object
 9   gender                         10910 non-null  object
 10  income                         10910 non-null  int64
 11  location_code                  10910 non-null  object
 12  marital_status                 10910 non-null  object
 13  monthly_premium_auto           10910 non-null  int64
 14  months_since_last_claim        10910 non-null  float64
 15  months_since_policy_inception  10910 non-null  int64
 16  number_of_open_complaints      10910 non-null  float64
 17  number_of_policies             10910 non-null  int64
 18  policy_type                    10910 non-null  object
 19  policy                         10910 non-null  object
 20  renew_offer_type               10910 non-null  object
 21  sales_channel                  10910 non-null  object
 22  total_claim_amount             10910 non-null  float64
 23  vehicle_class                  10910 non-null  object
 24  vehicle_size                   10910 non-null  object
 25  vehicle_type                   10910 non-null  object
 26  month                          10910 non-null  int64
dtypes: float64(4), int64(6), object(17)
memory usage: 2.2+ MB

In [25]:
df.columns

Index(['unnamed:_0', 'customer', 'state', 'customer_lifetime_value',
       'response', 'coverage', 'education', 'effective_to_date',
       'employmentstatus', 'gender', 'income', 'location_code',
       'marital_status', 'monthly_premium_auto', 'months_since_last_claim',
       'months_since_policy_inception', 'number_of_open_complaints',
       'number_of_policies', 'policy_type', 'policy', 'renew_offer_type',
       'sales_channel', 'total_claim_amount', 'vehicle_class', 'vehicle_size',
       'vehicle_type', 'month'],
      dtype='object')

In [26]:
df.isnull().sum()

unnamed:_0                       0
customer                         0
state                            0
customer_lifetime_value          0
response                         0
coverage                         0
education                        0
effective_to_date                0
employmentstatus                 0
gender                           0
income                           0
location_code                    0
marital_status                   0
monthly_premium_auto             0
months_since_last_claim          0
months_since_policy_inception    0
number_of_open_complaints        0
number_of_policies               0
policy_type                      0
policy                           0
renew_offer_type                 0
sales_channel                    0
total_claim_amount               0
vehicle_class                    0
vehicle_size                     0
vehicle_type                     0
month                            0
dtype: int64

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

In [27]:
df_sales_channels=df.pivot_table(index='sales_channel', values='monthly_premium_auto', aggfunc='sum').round(2)
df_sales_channels

               monthly_premium_auto
sales_channel
Agent                        386335
Branch                       280953
Call Center                  197970
Web                          151511

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

In [28]:
df_customer_lifetime_value_gender_education=df.pivot_table(index='education', values='customer_lifetime_value', columns='gender', aggfunc='mean')
df_customer_lifetime_value_gender_education

gender                          F            M
education
Bachelor              7874.269478  7703.601675
College               7748.823325  8052.459288
Doctor                7328.508916  7415.333638
High School or Below  8675.220201  8149.687783
Master                8157.053154  8168.832659

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [31]:
df_complaints = df.groupby(['policy_type', 'month'])['number_of_open_complaints'].count().reset_index()
df_complaints

      policy_type  month  number_of_open_complaints
0  Corporate Auto      1                       1252
1  Corporate Auto      2                       1089
2   Personal Auto      1                       4329
3   Personal Auto      2                       3799
4    Special Auto      1                        237
5    Special Auto      2                        204